.row.project_index
  .project_content
    %iframe{:allowfullscreen => '', :frameborder => '0', :height => '360', :src => "https://www.youtube.com/embed/BF9lLpKhIXs", :width => '100%'}
  .project_content
    %iframe{:allowfullscreen => '', :frameborder => '0', :height => '360', :src => "https://www.youtube.com/embed/f3mMWCULsEU", :width => '100%'}
  .project_content
    %iframe{:allowfullscreen => '', :frameborder => '0', :height => '360', :src => "https://www.youtube.com/embed/nmRn9EKYcoA", :width => '100%'}
  .project_content
    %iframe{:allowfullscreen => '', :frameborder => '0', :height => '360', :src => "", :width => '100%'}
  .project_content
    %iframe{:allowfullscreen => '', :frameborder => '0', :height => '360', :src => "", :width => '100%'}